<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="addressBean" class="fit.se.bai02.Entity.Address">
        <property name="city" value="Ho Chi Minh"/>
        <property name="state" value="District 1"/>
        <property name="country" value="Vietnam"/>
    </bean>

    <bean id="employeeBeanSetter" class="fit.se.bai02.Entity.Employee">
        <property name="id" value="101"/>
        <property name="name" value="Nguyen Van A"/>
        <property name="address" ref="addressBean"/>
    </bean>
    <!-- Thêm bean này vào beans.xml -->
    <bean id="employeeBeanConstructor" class="fit.se.bai02.Entity.Employee">
        <constructor-arg value="102"/>
        <constructor-arg value="Le Thi B"/>
        <constructor-arg ref="addressBean"/>
    </bean>


</beans>
